.rightSide {
  position: relative;
  display: grid;
  grid-template-rows: 59px 185px 1fr 205px;
  grid-template-columns: 1fr;
  height: calc(100vh - 72px);
  min-width: 1152px;
  min-height: 863px;
  border: 3px solid var(--color-board-background);
  margin-left: 3px;
  background-color: var(--color-board-background);
  z-index: 2;
}

.rightSide [data-role='drag-area'] {
  position: absolute;
}

.rightSide img {
  cursor: pointer;
}

.rightSide [data-role='header'] {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.rightSide [data-role='header'] span {
  margin-left: 10px;
  color: var(--color-header-right-side);
  font-size: 28px;
  text-transform: uppercase;
}

.rightSide [data-role='buttons-row'] {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.rightSide [data-role='banners-row'] div > img:nth-child(2) {
  margin-left: 10px;
}

.rightSide [data-role='buttons-row'] div:nth-child(2) > img:nth-child(2) {
  margin-left: 10px;
  margin-right: 10px;
}

.rightSide [data-role='banners-row'] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.rightSide [data-role='banners-row'] div {
  display: flex;
  align-items: center;
  width: content-fit;
}
